page-item-details {

}

ion-thumbnail {
    // min-width: 15rem;    
    // min-height: 15rem;
    img {
        max-width: 6rem;    
        min-width: 6rem;
        min-height: 7rem;
        max-height: 7rem
    }
}